<!DOCTYPE html>
<html>
<title>Index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>

    <!--css-->
    
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
img {
  width:100px; /* or whatever */
  height:50px; /* or whatever */
}

.bgimg {
  background-image: url('http://localhost:8081/images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.row {
  width: 80%;
  display: flex;
  margin-bottom: 30px;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.zoom {
  padding: 10px;
  background-color: none;
  transition: transform .2s; /* Animation */
  margin: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.btnSearch {
  margin-left: auto;
  margin-right: auto;
}


.zoom:hover {
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
<script>
function search()
{
var searchInput = document.getElementById('search').text();
var url = "http://localhost:8080/weather/" + searchInput;
location.replace(url)
}
</script>
var button = document.getElementById("btnSearch");

button.onclick = function () {
    var text = document.getElementById("textBoxEl").value;
    window.open("http://monkey=" + text);
}

</style>
<body>


<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-medium">
    <a href="/about">About</a>
  </div>
  <div class="w3-display-topmiddle" style="margin-top:5%">
    <h1 class="w3-xlarge w3-animate-top w3-center">WEATHER CHECKER</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-small w3-center">Check current weather<br>in biggest cities<br>around the globe</p>
    <p class="w3-small w3-center">

<input type="text" id="txtSearch"/>
<button onclick="search()" id="btnSearch">
<a onclick='window.location.href="http://localhost:8080/weather/"+document.getElementById("txtSearch").value;';>
Search
</a>
</button>

    </p>
  </div>
  <div class="w3-display-bottomleft w3-padding-medium w3-small">
    Powered by <a href="https://geocode.xyz">geocode.xyz</a> and <a href="https://openweathermap.org">openweathermap.org</a>
  </div>
<div class="row w3-display-bottommiddle">
  <div class="column">
    <button style="border:none; background-color: transparent;" class="zoom"><a href="http://localhost:8080/weather/new%20york"><img src="http://localhost:8081/images/newyork2.png" style="width:90%; height:70%;"/></a></button>
  </div>
  <div class="column">
    <button style="border:none; background-color: transparent;" class="zoom"><a href="http://localhost:8080/weather/tokyo"><img src="http://localhost:8081/images/tokio2.png" style="width:90%; height:70%;"/></a></button>
  </div>
  <div class="column">
    <button style="border:none; background-color: transparent;" class="zoom"><a href="http://localhost:8080/weather/moscow"><img src="http://localhost:8081/images/moscow.png" style="width:90%; height:70%;"/></a></button>
  </div>
</div>

</div>

</body>
</html>